body{
    display:grid;
    min-height:100%;
    place-content: center;
}
h2{ 
    margin-top: 0px;
    text-align: center;
}
.cell{
    border:1px solid lightgray;
}
.ClassALready{
    background-color: #C3D7EA ;
}
.cell:nth-child(3n)
{
    border-right:1px solid black;
} 
.cell:nth-child(n+19):nth-child(-n+27)
{
    border-bottom:1px solid black;
} 
.cell:nth-child(n+46):nth-child(-n+54)
{
    border-bottom:1px solid black;
} 
.cell input:focus{
    background-color: #BBDEFB;
}
.board{
    display: grid;
    grid-template-columns: repeat(9,50px);
    grid-template-rows: repeat(9,50px);
    border:2px solid black;
}
.cell input{
    height: 100%;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    padding: 4px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 34px;
    caret-color: transparent;
    font-weight: lighter;
    cursor: default;
}
.animate{
    background-color:#E2EBF3;
}
#game{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.end{
    display: flex;
    justify-content: center;
 width: 100vw;
 padding: 20px;
}
.top{
display: flex;
justify-content: space-evenly;
 width: 100vw;
 padding: 20px;
}
button{
    font-size: large;
    min-width:100px;
    min-height:30px;
    cursor:pointer;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.rowChange{
    background-color:rgb(231, 183, 183);
}
.columnChange{
    background-color:rgb(174, 231, 100);
}
.blockChange{
    background-color:rgb(231, 31, 205);
}
@media only screen and (max-width: 480px) {

    .board{
        display: grid;
        grid-template-columns: repeat(9,45px);
        grid-template-rows: repeat(9,45px);
        border:1px solid black;
    }
  }
  @media only screen and (max-width: 425px) {

    .board{
        display: grid;
        grid-template-columns: repeat(9,35px);
        grid-template-rows: repeat(9,35px);
        border:1px solid black;
    }
  }